{% extends "base.html" %}

{% block title %}About{% endblock %}
{% block heading %} - About Patchwork{% endblock %}

{% block body %}

<p>Patchwork is free software, and is available from the
<a href="https://gitlab.freedesktop.org/patchwork-fdo/patchwork-fdo">Patchwork FDO</a>
which is forked from the original
<a href="http://jk.ozlabs.org/projects/patchwork/">Patchwork</a>.</p>

<p>Patchwork is built on the <a href="http://djangoproject.com/">django</a>
web framework.</p>

<p>Icons from the <a href="http://sweetie.sublink.ca/">Sweetie</a> icon set.</a>

{% endblock %}

